@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  --cinzel: "Cinzel", serif;
  --narrow: "PT Sans Narrow", sans-serif;
  --dark: #1b1b1b;
  --light: #fefefa;
  --primary: hsl(43, 59%, 50%);
  --neutral: #555555;
}

*,
::after,
::before,
::content {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: var(--neutral);
  font-family: var(--narrow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--cinzel);
}

input[type="text"] {
  outline: none;
}
